{% extends "main/layout.html" %}

{% block body %}
    <header>
        <div class="header_banner">
            <a href="{% url 'main:index' %}" class="back_btn">بازگشت</a>
        </div>
    </header>
    <section>
        <div>
            {% for content in contents %}
                
                <div>
                    <a  href="{{content.get_absolute_url}}">
                        <img  src="{{content.cover.url}}" alt="img">
                        <h2>{{content.title}}</h2>   
                    </a>
                </div>
                
            {% endfor %}
        </div>
    </section>

{% endblock %}