{% extends "sorena/layout.html" %}

{% block body %}
    <header>
        <div class="header_banner">
            <a id="info_main" class="header_main" href="{% url 'sorena:about' %}"><h1>دربارۀ ما</h1></a>
            <a href="{% url 'sorena:index' %}" class="back_btn"><p class="back_btn_text">بازگشت</p></a>
            
        </div>
    </header>
    <section>
        <div class="about_div">
            <p class="about_txt">به باشگاه ورزشی سورنا خوش آمدید.</p>
            <p class="about_txt">رشته های ورزشی باشگاه: 
                {% for field in fields %}
                  {{field}}، 
                {% endfor %}
                
            </p>
            <p class="about_txt">برای اطلاعات بیشتر راجب رشته های ورزشی <a href="{% url 'sorena:schedule' %}">اینجا</a> کلیک کنید.</p>

        </div>
        <div class="about_div">
            <h2 class="about_txt">آدرس باشگاه ورزشی سورنا:</h2>
            {% for g in gym %}
                <p class="about_txt"><span class="bold">{{g.gym}}</span> : {{g.address}}</p>
            {% endfor %}
        </div>
    </section>
{% endblock body %}